<div class="card max-w-md">
    <div class="header-bar bg-slate-dark">
        Login
    </div>
    <div class="card-body">
        {{#if error}}
            <p class="alert-box alert-warning text-center">{{error}}</p>
        {{/if}}

        <form method="POST" action="/login" class="space-y-4">
            <div class="form-group">
                <label for="email" class="mb-2 text-sm">Email</label>
                <input type="email" id="email" name="email" class="input-field" required value="{{values.email}}">
            </div>
            <div class="form-group">
                <label for="password" class="mb-2 text-sm">Password</label>
                <input type="password" id="password" name="password" class="input-field" required>
            </div>

            <button type="submit" class="btn btn-teal">
                Login
            </button>
        </form>
    </div>
</div>